body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #d6d0d0;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 10px;
    max-width: 800px;
}

.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s;
}

.gallery img:hover{
    transform: scale(1.05);
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox img{
    max-width: 95%;
    max-height: 90%;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}